# Filesystem Dependencies
fs~=2.4.16 # Module that provides a common interface to any filesystem.
six~=1.16.0 # Python 2 and 3 compatibility utilities
pysmb~=1.2.8 # SMB/CIFS library
fs.webdavfs~=0.4.2 # WebDAV support
fs-dlk~=0.1.3 # Azure Datalake support
fs-s3fs~=1.1.1 # Amazon S3 filesystem support
fs-gcsfs~=1.5.1 # Google Cloud Storage (GCS) support
fs.googledrivefs~=2.3.0 # Google Drive support
fs.dropboxfs~=0.2.2.post2 # Dropbox support
fs.onedrivefs~=1.1.1 # OneDrive support
fs.youtube~=0.3.1 # Youtube support
fs.smbfs~=1.0.5 # SMB support

# General Dependencies
loguru~=0.6.0 # Python logging made (stupidly) simple
multidict~=6.0.2 # Multidict is dict-like collection of key-value pairs where key might be occurred more than once in the container.
pydantic~=1.9.2 # Data validation and settings management using python type hints
python-dotenv~=0.20.0 # reads key-value pairs from a .env file and can set them as environment variables.
regex~=2022.3.2 # Alternative regular expression module, to replace re.

# Development/Deployment related Libraries
autoflake~=1.6.1 # Removes unused imports and unused variables
black~=22.8.0 # Code formatter.
flake8~=5.0.4 # modular source code checker: pep8 pyflakes and co
isort~=5.10.1 # library to sort Python imports.
mypy~=0.981 # Optional static typing for Python
setuptools~=65.3.0 # Easily download, build, install, upgrade, and uninstall Python packages
twine~=4.0.1 # Collection of utilities for publishing packages on PyPI

# Documentation related Libraries
mkdocs~=1.3.1 # Project documentation with Markdown.
mkdocstrings~=0.19.0 # Automatic documentation from sources, for MkDocs.
mkdocstrings-python~=0.7.1 # A Python handler for mkdocstrings.
mkdocs-material~=8.4.4 # Material Design theme for MkDocs
mkdocs-gen-files~=0.4.0 # MkDocs plugin to programmatically generate documentation pages during the build
mkdocs-literate-nav~=0.4.1 # MkDocs plugin to specify the navigation in Markdown instead of YAML
mkdocs-section-index~=0.3.4 # MkDocs plugin to allow clickable sections that lead to an index page
mkdocs-page-pdf~=0.1.0 # Generate a PDF file for each MkDocs page and adds a download button
mkdocs-git-revision-date-localized-plugin~=1.1.0
Pygments~=2.13.0 # generic syntax highlighter
Markdown~=3.3.7 # implementation of Markdown.
mdx-include~=1.4.2 # Markdown extension to include local or remote files
